
<div class="container" ng-init="getBook()">
	 <div class="row">
		 <ol class="breadcrumb">
			<li><a href="#/" >Home</a></li>
			<li><a href="#/bookByGenres/{{book._id}}" >{{book.genre.name}}</a></li>
			<li class="active">{{book.title}}</li>
		</ol>
	</div>
</div> 
<div class="content" ng-init="getBook()">
	<div class="container" ng-init="init()" >
		<div class="row">
		
			<div class="col-md-3 col-sm-0 col-xs-0" ng-init="getGenres()">
				<div class="categories-wrap">
					<div class="heading">
						<h2>Danh mục</h2>
					</div>
					<div class="categories-detail">     
						<ul id="categories">
							<li ng-repeat="categories in genres"><a href="#/bookByGenres/{{categories._id}}">{{categories.name}}</a></li>
						</ul>
					</div>
				</div>
			</div>

			
			<div class="col-md-9">
				<div class="col-md-6">
					<img ng-src="{{book.images.main}}" alt="" class="pic-detail">
				</div>
				<div class="col-md-6" id="info">
					<div>
						<h3>{{book.title}} </h3>
						<span><cite>Tác giả: </cite>
							<a href="#/bookAuthor/{{book.author}}" class="author"> {{book.author}}</a>
						</span>
						<span ng-init="getGenres()"><cite>Thể loại:</cite>
							<a class="genre" href="#/bookByGenres/{{book._id}}"> {{book.genre.name}}</a>
						</span>
					</div>
					<div>
						<span>
							<div class="star"> </div>  (1 đánh giá) 
						</span>
						<span class="pre-price">
							{{book.previousPrice|number}} <sup>đ</sup>
						</span>
						<span class="selling-price">
							{{book.sellingPrice|number}} <sup>đ</sup>
						</span>
						<span>
							<cite>Tiết kiệm:</cite>
							<span class="save-price"> {{ book.previousPrice - book.sellingPrice|number}} <sup>đ</sup></span>
						</span>
					</div>
					<div>
						<span><cite><strong>Giới thiệu:</strong></cite>
							<div class="full-description" ng-model="book.shortDescription" ta-bind="text"></div>
						</span>
					</div>
					<md-button type="button" class="md-fab md-primary md-mini"><i class="fa fa-shopping-cart"></i></md-button>
					<input type="number" min="1" value="1">
					<md-button type="button" class="md-fab md-mini" style="background-color:red"><i class="fa fa-heart"></i></md-button>
				</div>

				<div class="col-md-12" id="info-detail">
					<div class="heading">
						<h2><strong>Giới thiệu sách</strong> </h2>
					</div>
					<div>
					<h5 class="thongtin">{{book.title}}</h5>
						<div class="full-description" ng-model="book.fullDescription" ta-bind="text"></div>
					</div>
				</div>
				
				<div class="col-md-12">
						<div class="heading">
							<h2>Thông tin chi tiết </h2>
						</div>
						<div>
							<table class="table table-responsive">
							  <tr class="active">
								<th>Nhà xuất bản</th>
								<td>{{book.publisher}}</td>
							  </tr>
							  <tr class="warning">
								<th>SKU</th>
								<td>{{book.sku}}</td>
							  </tr>
							  <tr class="active">
								<th>Số trang</th>
								<td>{{book.pages}}</td>
							  </tr>
							  <tr class="warning">
								<th>Trọng lượng </th>
								<td>{{book.weight}} g</td>
							  </tr>
							  <tr class="active">
								<th>Kích thướt</th>
								<td>{{book.size.depth}}x{{book.size.width}} cm
								</td>
							  </tr>
							  <tr class="warning">
								<th>Ngày xuất bản</th>
								<td>{{book.releaseDate|date:"dd/MM/yyyy"}}</td>
							  </tr>
						  </table>
						</div>
					</div>
				
				<div class="col-md-12">
					<div class="heading">
						<h2>Bình luận</h2>
					</div>
					<div class="row comment-line">
						<div class="col-sm-12">
							<div class="panel panel-white post panel-shadow" ng-repeat="book in book.comments">
								<div class="post-heading">
									<div class="pull-left image">
										<img ng-src="{{book._user.avatarUrl}}" class="img-circle avatar" alt="user profile image">
									</div>
									<div class="pull-left meta">
										<div class="title h5">
											<a href="">
												<b>{{book._user.name}}</b>
											</a>
												made a post.
										</div>
											<h6 class="text-muted time">{{book.createdDate|date:hour}}</h6>
									</div>
								</div> 
								<div class="post-description"> 	
									<p>{{book.commentBody}}</p>
									<div class="stats">
										<a href="#" class="btn btn-default stat-item">
											<i class="fa fa-thumbs-up"></i>
										</a>
										<a href="#" class="btn btn-default stat-item">
											<i class="fa fa-thumbs-down"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12" ng-show="isLogged()">
					<div class="heading">
						<h2>Viết bình luận</h2>
					</div>
					 <div class="box-comment col-md-12 col-xs-12">
							<div class="pull-left image col-md-2 col-xs-2 col-lg-2">
								<img ng-src="{{user.avatarUrl}}" class="img-circle avatar ava-comment" alt="user profile image">
								<div class="title h5">
									<a href="">
										<b>{{user.name}}</b>
									</a>
								</div>
							</div>
							 <form name="" ng-submit="addComment(book)" class=" col-md-10 col-xs-10 col-lg-10" novalidate>
								 <textarea cols="50" rows="10" ng-model="comment.commentBody" required></textarea>
								 <div class="thongtin">
									<label>Gửi đánh giá: </label> <div class="star"> </div>
								 </div>
								 <md-button class="md-raised md-warn" type="submit" value="Submit"> Comment </md-button>
							 </form>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>