
	<div class="container">
		 <div class="row">
			 <ol class="breadcrumb">
				<li><a href="#/" >Trang chủ</a></li>
				<li class="active">Tìm kiếm</li>
			</ol>
		</div>
	</div>
	<div class="content" >
		<div class="container">
			<div class="row">
			
			<div class="col-md-3 col-sm-0 col-xs-0" ng-init="getGenres()">
				<div class="categories-wrap">
					<div class="heading">
						<h2>Danh mục</h2>
					</div>
					<div class="categories-detail">
						<ul id="categories">
							<li ng-repeat="categories in genres"><a href="#/bookByGenres/{{categories._id}}">{{categories.name}}</a></li>
						</ul>
					</div>
				</div>
			</div>

			
			<div class="col-md-9" ng-init="getBookSearch()">
				<div class="book-home">
					<div class=" heading col-md-12 col-sm-12">    
						<h2>Tìm kiếm: '{{text}}'</h2>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="book in books">
						<div class="book">	
							<div class="book-heading">
								<a href="#/bookDetail/{{book._id}}">
									<img ng-src="{{book.images.main}}" alt="" class="thumbnail-img book-img">
								</a>
								<div class="icon">
									<button class="btn btn-primary icon-cart" type="button">
										<i class="fa fa-shopping-cart"></i>
									</button>
									<button class="btn btn-danger icon-heart" type="button">
										<i class="fa fa-heart"></i>
									</button>
								</div>
							</div>
							<div class="book-detail">
								<h4 class="book-title"><a href="#/bookDetail/{{book._id}}" > {{book.title}}</a></h4>
								<h6 class="author">
									<a href="#/bookAuthor/{{book.author}}" class="author"> {{book.author}}</a>
								</h6>
								<div class="star"></div> 
								<p class="price">{{book.sellingPrice|number}}  <sup>đ</sup> </p>
							</div>
						</div>
					</div>
					
			</div>
		</div>
	</div>
</div>
</div>
	