
<div class="container">
	 <div class="row">
		 <ol class="breadcrumb">
			<li><a href="#/" >Home</a></li>
			<li class="active">Admin</li>
		</ol>
	</div>
</div>
<div class="content">
	<div class="container">
		<div class="col-md-12 col-sm-12" ng-init="getBooks()">    
			<md-content >
				<md-tabs md-dynamic-height>

					<md-tab label="Thêm sách" class="heading"> 
					<md-content class="md-padding">
					  <form ng-submit="addBook()" class="ng-pristine ng-invalid ng-invalid-required">
							<div class="form-group">
								<label>Tên sách</label>
								<input type="text" class="form-control   ng-pristine ng-untouched ng-valid" ng-model="book.title" placeholder="Title" required>
							</div>
							<div class="form-group" ng-init="getGenres()">
								<label>Thể loại</label>
								<select ng-model="book.genre" ng-required="true" class="form-control   ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-options="genre as genre.name for genre in genres" required>
								</select>
							</div>
							<div class="form-group">
								<label>Tác giả</label>
								<input type="text" class="form-control   ng-pristine ng-untouched ng-valid" ng-model="book.author" placeholder="Author" required>
							</div>
							<div class="form-group">
								<label>Nhà xuất bản</label>
								<input type="text" class="form-control   ng-pristine ng-untouched ng-valid" ng-model="book.publisher" placeholder="Publisher" required>
							</div>
							<div class="form-group">
								<label>Trang</label>
								<input type="number" class="form-control   ng-pristine ng-untouched ng-valid" ng-model="book.pages" placeholder="Pages">
							</div>
							<div class="form-group">
								<label>Khối lượng</label>
								<input type="number" class="form-control   ng-pristine ng-untouched ng-valid" ng-model="book.weight" placeholder="Weight">
							</div>
							<div class="form-group">
								<label>Chiều ngang</label>
								<input type="number" class="form-control   ng-pristine ng-untouched ng-valid" ng-model="book.size.width" placeholder="Width">
							</div>
							<div class="form-group">
								<label>Chiều sâu</label>
								<input type="number" class="form-control   ng-pristine ng-untouched ng-valid" ng-model="book.size.depth" placeholder="Depth">
							</div>
							<div class="form-group">
								<label>Hình ảnh</label>
								<input type="text" class="form-control   ng-pristine ng-untouched ng-valid" ng-model="book.images.main" placeholder="Main Image">
							</div>
							<div class="form-group">
								<label>Sku</label>
								<input type="text" class="form-control   ng-pristine ng-untouched ng-valid" ng-model="book.sku" placeholder="Sku">
							</div>
							<div class="form-group">
								<label>Giá ban đầu</label>
								<input type="number" class="form-control   ng-pristine ng-untouched ng-valid" ng-model="book.previousPrice" placeholder="Revious Price">
							</div>
							<div class="form-group">
								<label>Giá bán</label>
								<input type="number" class="form-control  ng-pristine ng-untouched ng-valid" ng-model="book.sellingPrice" placeholder="Selling Price">
							</div>
							<div class="form-group">
								<label>Mô tả cơ bản</label>
								<div text-angular ng-model="book.shortDescription" ></div>
							</div>
							<div class="form-group">
								<label>Mô tả cơ bản</label>
								<div text-angular ng-model="book.fullDescription" ></div>
							</div>
							<div class="form-group" data-provide="datepicker">
								<label>Release Date</label>
								<md-datepicker md-placeholder="Release date" ng-model="book.releaseDate"></md-datepicker>
								<label>Created Date</label>
								<md-datepicker md-placeholder="Created date" ng-model="book.createdDate"></md-datepicker>
							</div>
							<md-button type="submit" class="md-raised md-warn" >Đăng</md-button>
						</form>
					</md-content>
				  </md-tab>

					<md-tab label="Tất cả sách">
					<md-content>
						<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="book in books">
							<div class="book">	
								<div class="book-heading">
									<a href="#/bookDetail/{{book._id}}">
										<img ng-src="{{book.images.main}}" alt="" class="thumbnail-img book-img">
									</a>
								</div>
								<div class="book-detail">
									<h4 class="book-title"><a href="#/bookDetail/{{book._id}}" > {{book.title}}</a></h4>
									<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{book._id}}" >Xóa</button>
									<button type="submit" class="btn btn-primary"><a href="#/editBook/{{book._id}}" style="color:white">Sửa</a></button>
								</div>
								<div class="modal fade-in" id="{{book._id}}" role="dialog">
									<div class="modal-dialog">
									  <!-- Modal content-->
									  <div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal">&times;</button>
										  <h4 class="modal-title">Ông chủ có thật sự muốn xóa?</h4>
										</div>
										<div class="modal-footer">
											<md-button type="button" class="md-raised md-ink-ripple" data-dismiss="modal" ng-click="removeBook(book._id)">Xóa</md-button>
										  	<md-button type="button" class="md-raised md-primary" data-dismiss="modal">Hủy</md-button>
										</div>
									  </div>
									</div>
								 </div> 
							</div>
						</div>
					</md-content>
				  </md-tab>
			  
				</md-tabs>
			</md-content>
			

		</div>
		
		
	</div>
</div>


