	
<!--Content	-->
<div class="content" ng-init="getBooks()">
	<div class="container">
		<div class="row">

			<div class="col-md-3 col-sm-0 col-xs-0" ng-init="getGenres()">
				<div class="categories-wrap">
					<div class="heading">
						<h2>Danh mục</h2>
					</div>
					<div class="categories-detail">
						<ul id="categories">
							<li ng-repeat="categories in genres"><a href="#/bookByGenres/{{categories._id}}" autofocus>{{categories.name}}</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-9">
				<!-- Slider-->
				<div ng-init="getBanners()">
						<div uib-carousel active="active" id="myCarousel" interval="myInterval" >
							<div uib-slide ng-repeat="banner in banners" index="$index">
								<img ng-src="{{banner.imageUrl}}" alt="" class="img-responsive">
							</div>
						</div>
				</div>
				
				<div class="book-home">
					<div class=" heading col-md-12 col-sm-12">    
						<h2>Sách mới <a href="#/bookAll" class="seeAll">Xem tất cả</a></h2>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="book in filteredBooks">
						<div class="book">	
							<div class="book-heading">
								<a href="#/bookDetail/{{book._id}}">
									<img ng-src="{{book.images.main}}" alt="" class="thumbnail-img book-img">
								</a>
								<div class="icon">
									<button aria-label="cart" class="btn btn-primary icon-cart" type="button" ng-click="addCart(book)">
										<i class="fa fa-shopping-cart"></i>
									</button>
									<button aria-label="heart" class="btn btn-danger icon-heart" type="button">
										<i class="fa fa-heart"></i>
									</button>
								</div>
							</div>
							<div class="book-detail">
								<h4 class="book-title"><a href="#/bookDetail/{{book._id}}" data-toogle="tooltip" title="{{book.title}}"> {{book.title}}</a></h4>
								<h6 class="author">
									<a href="#/bookAuthor/{{book.author}}" class="author" data-toogle="tooltip"> {{book.author}}</a>
								</h6>
								<span uib-rating ng-model="rating" max="max" read-only="true" on-hover="hoveringOver(value)" class="star"></span>
								<p class="price">{{book.sellingPrice|number}}  <sup>đ</sup> </p>
							</div>
						</div>
					</div>
				
				</div>
				<div class="col-sm-12" style="text-align:center">
            		<ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination pagination-dark" boundary-link-numbers="true" next-text="Next" previous-text="Prev" ng-click="changePage()"></ul>
            	</div>
			</div>	
			
		</div>
	</div>
</div>
