	
<!--Content	-->
<div class="content" ng-init="init()">
	<div class="container" ng-init="viewProfile()">
		<div class="row">
			<div class="book-home">
				<div class=" heading col-md-12 col-sm-12">    
					<h2>Thông tin cá nhân </h2>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-3" >
					<div class="book">	
						<div class="book-heading">
							<img ng-src="{{user.avatarUrl}}" alt="" class="thumbnail-img book-img">
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-9" >
					<div class="book" ng-show="!editProfie">	
						<table>
							<tr>
								<th>Tên đăng nhập:</th>
								<td>{{user.name}}</td>
							</tr>
							<tr>
								<th>Email:</th>
								<td>{{user.email}}</td>
								<td><md-button class="md-raised md-primary" ng-click="editProfie=true" style="text-align:left">Thay đổi</md-button></td>
							</tr>
							<tr>
								<th>Địa chỉ:</th>
								<td>418/39/7 Dương Quảng Hàm P.5 Q.GV</td>
							</tr>
						</table>
					</div>
					
					<form class="profile" name="formProfile" ng-show="editProfie" ng-submit="updateUser()" novalidate>

						<div class="form-group">
							<input type="text" name="username" ng-model="editProfile.name" class="form-control" placeholder="Tên" ng-required="true">
							<p ng-show="formProfile.username.$invalid && !formProfile.username.$pristine" style="color:red"> *Vui lòng nhập tên</p>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Avatar Url" ng-model="editProfile.avatarUrl">
						</div>

						<div class="form-group">
							<input type="password" name="passwordcurrent" ng-model="editProfile.currentPassword" class="form-control " minlength="5" placeholder="Password" ng-required="true">
							<p ng-show="formProfile.password.$invalid && !formProfile.password.$pristine" style="color:red"> *Password không đúng</p>
						</div>
						<div class="form-group">
							<input type="password" name="password" ng-model="editProfile.password" class="form-control " minlength="5" placeholder="Password mới" ng-required="true">
							<p ng-show="formProfile.password.$invalid && !formProfile.password.$pristine" style="color:red"> *Password không hợp lệ</p>
						</div>
						<div class="form-group">
							<input type="password" name="passwordConfirm" ng-model="passwordConfirm" compare-to="editProfile.password" class="form-control " placeholder="Nhập lại password" ng-required="true">
							<p ng-show="formProfile.passwordConfirm.$invalid && !formProfile.passwordConfirm.$pristine" style="color:red"> *Password không trùng khớp</p>

						</div>
                		<md-button class="md-raised md-primary" type="button" ng-click="editProfie=false" style="background-color:royalblue">Trở lại</md-button>
                		<md-button class="md-raised md-warn" type="submit" style="background-color:red;float:right" > Thay đổi</md-button>

                	</form>
				</div>
				
					
			</div>
		</div>
	</div>
</div>
